/* notifications button */

.notifications {
    display: inline-block;
    min-height: 28px;
    padding: 5px 8px;
    border-radius: 32px;
    background: var(--main-color);
    color: white;
    margin: 0 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* The notifications list */

#notifications-list {
    width: 95%;
    max-width: 95%;
    position: fixed;
    top: 60px;
    right: 10px;
    padding: 10px 0;
    border-radius: 10px;
    background: var(--main-bg-color);
    color: var(--second-contrast);
    z-index: -1;
    box-shadow: 0 3px 15px var(--second-contrast-69);
    border: 1px solid var(--second-contrast-23);
    align-items: flex-start;
    flex-direction: column;
}

#notifications {
    transition: 0.23s transform
}

/* #notifications:hover {
    animation: verticak-shaking 0.23s infinite
} */

.showNotifications {
    transform: scale(1.5) translate(53px, 46px);
    transform-origin: right;
}

.showNotifications+#notifications-list {
    display: flex
}

#notifications-list h2 {
    margin: 0 0 10px 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#notifications-list h2 img {
    margin-right: 5px;
}

#notifications-list ul {
    width: 100%;
    padding: 0 10px;
    margin: 0;
    list-style: none;
    text-align: left;
    display: block;
    overflow-y: auto;
    max-height: 70vh;
}

#notifications-list ul li {
    width: 100%;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

#notifications-list ul li:hover {
    background: var(--second-contrast-15)
}

#notifications-list ul li span {
    color: var(--second-contrast-69);
    font-size: 12px;
    color: var(--main-color);
    padding-top: 5px
}

#notifications-list .avatar-container,
#notifications-list .post-thumbnail {
    margin: 0;
    width: 64px;
    height: 64px;
}

#notifications-list .post-thumbnail {
    margin-left: 10px;
    border-radius: 10px;
    min-width: 64px;
}

#notifications-list .avatar,
#notifications-list .p-thumb {
    width: 64px;
    height: 64px;
}

#notifications-list .flex-column {
    position: relative;
    align-items: flex-start;
}

#notifications-list .avatar-container+b {
    font-size: 28px;
    display: block;
    z-index: 3;
    margin-top: -23px;
}

#notifications-list aside {
    padding-left: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#notifications_category {
    padding: 23px 10px;
    text-align: left;
}

#notifications_category label {
    color: var(--second-contrast);
    padding: 9px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

#notifications_category input:checked+label,
#notifications_category label:hover {
    background: var(--second-contrast-15) !important;
}

@media screen and (min-width: 950px) {
    #notifications_category {
        padding: 15px 23px 23px 23px;
    }

    #notifications-list {
        top: 60px;
        right: 10px;
        max-width: 500px;
    }

    #notifications-list h2 {
        margin: 0 0 10px 23px;
    }

    .showNotifications {
        transform: scale(1.5) translate(52px, 46px)
    }
}